@import 'reset';
@import 'variables';
@import 'keyframes';
* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Orbitron', sans-serif;
}

.moving-grid {
  opacity: 0.7;
}

.splash-container {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  flex-direction: column;
    .moving-grid {
      height: 100vh;
      position: absolute;
      width: 100%;
    }
}

.splash-header {
  background: transparent;
  color:#166F45;
  display: flex;
  font-size: 45px;
  justify-content: center;
  margin: 13px;
  min-width: 350px;
  z-index: 1;
}

.title {
  letter-spacing: 7px;
  text-shadow: 4px 0px 4px rgb(238, 238, 238);
}

.intake-form {
  display: flex;
  height: 70vh;
  justify-content: center;
  margin: 0px auto 20px;
  max-width: 500px;
  min-width: 350px;
}

.intake-form-inputs {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
    label {
      margin: 1.4%;
        input {
        height:40px;
        font-size: .9em;
        margin: 10px 0px;
        text-align: center;
        width: 100%;
        border-radius: 5px;
    }
  }
}

.a-middle {
  height: 106px;
  animation: floatMiddle 4s ease-in-out infinite;
}

.a-side {
  height: 100px;
  animation: floatSide 4s ease-in-out infinite;
}

.player-one-label {
  color: $player-one-color;
  z-index: 1;
}

.player-one-intake {
  border: 2px solid $player-one-color;
    &:hover{
      box-shadow: $hover-glow-p1;
    } 
}

label {
  font-size: 1em;
}

.player-two-label {
  color: $player-two-color;
  z-index: 1;
}

.player-two-intake {
  border: 2px solid $player-two-color;
  &:hover{
    box-shadow: $hover-glow-p2;
  } 
}

.player-three-label {
  color: $player-three-color;
  z-index: 1;
}

.player-three-intake {
  border: 2px solid $player-three-color;
  &:hover{
    box-shadow: $hover-glow-p3;
  } 
}

.start-game-btn {
  background: #166f45;
  border-radius: 5px;
  border: 2px solid #0d3f27;
  box-shadow: 0px 6px 0px #12442c;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
  font-weight: 500;
  height: 45px;
  letter-spacing: 3px;
  margin: 15px 13%; 
  width: 75%;
  z-index: 1;
  &:hover {
    color: greenyellow;
    text-shadow: 1px 1px 2px greenyellow, 0 0 2em whitesmoke, 0 0 0.4em limegreen;
    box-shadow: 0px 6px 0px #12442c, 0 0 2em whitesmoke, 0 0 2em limegreen;
  }
}

.round-one {
  background-image: url("../images/round-one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.grid-container {
  align-items: center;
  border: 2px solid white;
  color: white;
  display: grid;
  font-size: 1.1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-top: 1%;
  position: absolute;
  text-align: center;
  width: 96%;
}

.round-one-foreground {
  display: flex;
  height: inherit;
  justify-content: center;
  z-index: 1;
}

.category {
  height: 100%;

}

.grid-item {
  align-items: center;
  border: solid 2px white;
  display: flex;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  padding: 5%;
}

.picked {
  background-color: #70129e;
  opacity: 0.8;
  padding: 18px;
}

.grid-transition {
  background-image: linear-gradient(to right, #463a74, #852D91, #580a48, #26afa8);
  cursor: pointer;
  transform: scale(1.1);
  transition: all .1s ease-in-out;
}

.clue-info {
  background-image: linear-gradient(to right, #463a74, #852D91, #580a48, #26afa8);
  box-shadow: 0 4px 15px 0 rgba(42, 9, 57, 0.75);
  color: white;
  left: 50%;
  letter-spacing: 3px;
  margin-left: -48%;
  min-height: 65%;
  padding: 11%;
  position: absolute;
  text-align: center;
  top: 3%;
  width: 96%;
  z-index: 1;
}

.daily-double {
  @extend .clue-info;
  padding: 9%;
  max-height: 82%;
}

.clue-pop {
  animation: clue-pop 1s;
}

.clue-question {
  font-size: 2em;
}

.user-input,
.user-guess-btn {
  font-size: 1.5em;
  height: 100px;
  letter-spacing: 3px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.user-input {
  margin: 3% 0 3% 0;
  border-radius: 5px;
  border: 2px solid #2F0F52;
  box-shadow: $hover-glow-guess;
  
}

.user-guess-btn {
  @extend .start-game-btn;
  width: 50%;
}

.player-container {
  bottom: 6%;
  display: flex;
  left: 13%;
  position: absolute;
  margin-top:50%;
  width: 75%;
}

.wager-input,
.wager-btn {
  background-color: white;
  font-size: 1em;
  height: 50px;
  letter-spacing: 3px;
  margin: 3% 0 3% 0;
  padding: 20px;
  text-align: center;
  width: 47%;
}

.wager-input {
  float: left;
  box-shadow: $daily-double-glow;
  border-radius: 5px;
}

.wager-btn {
  border: 2px solid lime;
  float: right;
  @extend .start-game-btn;
  background: #4D3977;
}

.user-guess-daily-double-btn {
  @extend .start-game-btn;
  width: 50%
}

.podium {
  align-items: center;
  background: #20094A;
  border: 5px solid $player-two-color;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
  margin: auto;
  min-width: 27%;
}

.player-one-stand {
  border: 5px solid darken($player-one-color, 20%);
}

.player-two-stand {
  border: 5px solid darken($player-two-color, 30%);
}

.player-three-stand {
  border: 5px solid darken($player-three-color, 20%);
}
.player-one-stand,
.PP1-name,
.PP1-score {
  filter: drop-shadow(3px 6px 6px $player-one-color);
}

.player-two-stand,
.PP2-name,
.PP2-score {
  filter: drop-shadow(3px 6px 6px $player-two-color);
}

.player-three-stand,
.PP3-name,
.PP3-score {
  filter: drop-shadow(3px 6px 6px $player-three-color);
}

.name,
.score {
  align-items: center;
  background: white;
  background: white;
  border: 1px solid black;
  display: flex;
  height: 37px;
  justify-content: center;
  width: 72%;
}

.round-two {
  background-image: url("../images/round-two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.round-three {
  background-image: url("../images/game-fin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 20px;
  text-align: center;
}

.round-3-style {
  padding-bottom: 20px;
}

.p1-wager-input {
  border-radius: 5px;
  font-size: 1em;
  height: 40px;
  text-align: center;
  width: 50%;
    &:hover {
      box-shadow: $hover-glow-p1;
    }
}
.p2-wager-input {
  @extend .p1-wager-input;
    &:hover {
      box-shadow: $hover-glow-p2;
    }
}
.p3-wager-input {
  @extend .p1-wager-input;
    &:hover {
      box-shadow: $hover-glow-p3;
    }
}

.category-third-round {
  color: white;
  font-size: 1.5em;
}

.player-guess-container {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 65%;
}

.last-page-name{
  font-size: 1.5em;
}

.last-page-input {
  border-radius: 5px;
  box-shadow: $daily-double-glow;
  font-size: 1em;
  height: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.last-page-question {
  font-size: 1.5em; 
  padding: 5%;
}

.round-title {
  color: white;
  display: inline-block;
  font-size: 2em;
  margin: 2% 0 0 3%;
}

.reset-game-btn {
  background-color: #e82d7f;
  border-radius: 30px;
  filter: drop-shadow(3px 6px 6px #e82d7f);
  float: right;
  font-weight: 900;
  height: 4%;
  margin: 12px 16px 0 0;
  width: 12%;
}

h3 {
  font-size: 3em;
  font-weight: 900;
  margin: 0px auto 35px;
  text-shadow: $daily-double-glow;
}

.player-guess-container {
  color: white;
  margin: 40px auto;
}

.winner {
  color: white;
  font-weight: 900;
  font-size: 5em;
}

.round-3-info {
  display: flex;
  height: 3%;
  justify-content: space-between;
  align-items: center;
    .reset-game-btn {
      height: 40px;
    }
}

.submit-wagers {
  @extend .wager-btn;
  float: none;
  margin: auto;
  width: 42%;
}

.player-guess-button {
  @extend .start-game-btn;
  height: 50px;
}
